<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact me at my <%= link_to "GitHub", 'https://github.com/mattroz' %>
  or <%= link_to "Vkontakte", 'https://vk.com/mattrozanov' %>  profile!
</p>
