<!-- helper for rendering error messages while registration -->

<% if @user.errors.any? %>
<div id="error_explanation">
	<div class="alert alert-error">
		The registration form contains <%= @user.errors.count %> error(s).
	</div>
	<ul>
		<% @user.errors.full_messages.each do |error| %>
			<li> <%= error %> </li>
		<% end %>
	</ul>
</div>
<% end %>